body {
    background: rgb(37, 38, 39);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background: white;
    width: 510px;
    padding: 14px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.507);
}

.game {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: rgb(54, 54, 59);
    color: white;
    border: 6px solid rgb(112, 61, 194);
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div {
    border: 6px solid rgb(112, 61, 194);
    font: bold 4em Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}