*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(-120deg, rgb(46, 45, 45), rgba(37, 30, 30, 0.836));
}

header {
    font: normal 15pt Arial;
    color: white;
    text-align: center;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 84vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
  }

  .calculator-grid > button {
    transform: scale();
    transition: all 0.2s;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(87, 145, 212);
    color: white;
  }
  
  .calculator-grid > button:hover {
    /* background: rgba(68, 172, 137, 0.5); */
    transform: scale(1.1);
    transition: all 0.2s;
  }
  
  .span-two {
    grid-column: span 2;
  }

  .output {
    border-radius: 4px 4px 0 0;
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 14px 10px 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

section {
    margin: 0 auto;
    background: white;
    width: 412px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.541);
}

footer {
    font: italic 15pt Arial;
    text-align: center;
    color: white;
}