body {
    background: rgb(57, 121, 216);
    font: normal 15pt Arial;
}

div {
    text-align: center;
    margin: 10px;
}

div#sdc {
    text-align: center;
    margin: 10px;
}

header {
    color: white;
    text-align: center
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.411);
}

footer {
    color: rgb(236, 235, 235);
    text-align: center;
    font-style: italic;
}