// Transforma o código para versões em que todos os browsers entendam.

{
    "presets": ["@babel/preset-env"], // Entende que está trabalhando no navegador.
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-async-to-generator"
    ]
}